blur-hash {
    overflow: hidden;
    display: block;

    & canvas {
        transition: opacity var(--blur-hash-time, 0.8s);
        opacity: var(--blur-hash-opacity, 0.4);
        height: 100%;
        width: 100%;
    }

    & img {
        position: relative;
        top: -100%;
        transition: opacity var(--blur-hash-time, 0.8s);
        object-fit: cover;

        &.blurry {
            opacity: 0;
            filter: blur(30px);
        }

        &.sharp {
            opacity: 1;
            animation: sharpen var(--blur-hash-time, 0.8s) both;
        }
    }
}

@keyframes sharpen {
    from {
        filter: blur(30px);
    }
    to {
        filter: blur(0px)
    }
}
