blur-hash {
    overflow: hidden;
    display: block;

    & canvas {
        transition: opacity var(--blur-hash-time, 0.8s);
        opacity: var(--blur-hash-opacity, 0.6);
    }

    & img {
        transition: opacity 0.6s;
        object-fit: cover;

        &.blurry {
            opacity: var(--blur-hash-opacity, 0.6);
            filter: blur(30px);
        }

        &.sharp {
            opacity: 1;
            animation: sharpen var(--blur-hash-time, 0.8s) both;
        }
    }
}

@keyframes sharpen {
    from {
        filter: blur(30px);
    }
    to {
        filter: blur(0px)
    }
}
